#nav-bar {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 80px;
  background: #00a087;
  padding: 0 2em;
  color: #e8fdff;
  display: flex;
  justify-content: space-between;
  z-index: 999;

  img.logo {
    width: 80px;
    height: 80px;
  }

  div {
    display: flex;
  }

  span.header {
    font-size: 2em;
    align-self: center;
  }

  a {
    color: white;
    text-decoration: none;
  }

  button.compose {
    margin-right: 20px;
  }

  button.login {
    margin-top: 15px;
    margin-right: 20px;
  }

  button.login,
  button.compose {
    color: #00a087;
    background: #cefef1;
    align-self: center;
    border: none;
    height: 50px;
    border-radius: 5px;
    transition-duration: 0.4s;
  }

  button.login:hover,
  button.compose:hover {
    color: #000;
    background: #fff;
  }

  .nav-icon {
    margin-right: 5px;
  }

}

@media only screen and (max-width: 500px) {
  #nav-bar {
    span.header {
      font-size: 1.3em;
    }

    button.login,
    button.compose {
      height: auto;
      width: auto;
    }

    button.login span.nav-span,
    button.compose span.nav-span {
      display: none;
    }

    button.login i,
    button.compose i {
      margin-right: 0px;
      padding: 6px;
    }
  }
}