#tweet-container article {
  border: 1px solid #DADADA;
  margin: 0 2em 6em 2em;
  border-radius: 5px;
}

#tweet-container header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  padding-top: 10px;
}

#tweet-container img {
  height: 55px;
  background: transparent;
  margin: 0 0 10px 7px;
}

#tweet-container header h1 {
  flex-grow: 2;
  margin: 0 0 0 9px;
  font-size: 1.7em;
  color: #506368
}

#tweet-container header h3 {
  margin: 7px 9px 0 0;
  font-size: 1em;
  color: #a7b0b2;
  font-weight: lighter
}

#tweet-container div {
  margin: 20px 0 0 10px;
  height: 100px;
  background: #fff;
  word-break: break-word;
}

#tweet-container footer {
  border-top: 0.3px solid #f2f2f2;
  font-size: 0.6em;
  display: flex;
  justify-content: space-between;
}

#tweet-container .font-awesome {
  visibility: hidden;
  margin-right: 10px;
  font-size: 1.2em;
}

#tweet-container div {
  margin: 10px 0 10px 10px;
  height: auto;
}

#tweet-container .tweet {
  opacity: 0.8;
  margin-bottom: 15px;
}

#tweet-container .tweet:hover {
  opacity: 1;
}

#tweet-container .tweet:hover .font-awesome {
  visibility: visible;
}

.like.fas.fa-heart.font-awesome {
  cursor: pointer;
}